<div>
  <h1>Real time products</h1>
  <form
    action="/realtimeproducts"
    method="POST"
    enctype="multipart/form-data"
    id="form"
  >
    <div>
      <div>
        <input
          type="text"
          name="file"
          id="file"
          class="file"
          placeholder="Image"
          required
        />
      </div>
      <div>
        <input type="text" name="code" id="code" placeholder="Code" required />
        <input
          type="text"
          name="category"
          id="category"
          placeholder="Category"
          required
        />
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Title"
          required
        />
        <input
          type="number"
          name="price"
          id="price"
          step="10"
          placeholder="Price"
          required
        />
        <input
          type="number"
          name="stock"
          id="stock"
          step="1"
          placeholder="Stock"
          required
        />
        <input
          type="text"
          name="description"
          id="description"
          placeholder="Description"
          required
        />
      </div>
    </div>
    <div>
      <input type="reset" value="Borrar" />
      <input type="submit" value="Guardar" />
    </div>
  </form>
  <table>
    <thead>
      <tr>
        <th class="id">Id:</th>
        <th class="code">Code:</th>
        <th class="category">Category:</th>
        <th class="title">Title:</th>
        <th class="thumbnail">Thumbnail:</th>
        <th class="price">Price:</th>
        <th class="stock">Stock:</th>
        <th class="available">Available:</th>
        <th class="edit" id="edit">Edit:</th>
        <th class="delete" id="delete">Delete:</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>